<div class="offer-form" >
    <h3 class="text-center text-white">
        Lets Book, Your Appointment
    </h3>
    <div class="fp">
    <p class="text-justify text-white text-center">
        Just fill out this quick form and click book now <br> we will get the times available for the next 4 weeks
    </p>
    </div>
    <div class="form-group" style="margin-right:24px;margin-left:24px;margin-bottom:16px;">
        <input #name
            class="form-control form-control-sm" type="text"
            required="" placeholder="Your Name" minlength="3" autofocus="" autocomplete="on">
    </div>
    <div class="form-group" style="margin-right:24px;margin-left:24px;">
        <input #email
         class="form-control form-control-sm email" type="email" name="email" required="" placeholder="Email" autofocus=""
            autocomplete="on">
    </div>
    <div class="form-group" style="margin-right:24px;margin-left:24px;">
        <input #phone 
            class="form-control form-control-sm" type="tel" required="" placeholder="Phone Number" minlength="3"
            autofocus="" autocomplete="on">
    </div>
    <div  class="form-group" style="margin-right:24px;margin-left:24px;">
        <select #servicetype class="form-control form-control-sm"
            name="location" required="" autofocus="">
            <option value="Select Service">Select Service</option>
            <optgroup *ngFor="let item of wigInstalls" class="no-padding no-margin" label="Wig Installs">
                <option [value]="item.name">{{item.name}}</option>     
            </optgroup>
            <optgroup *ngFor="let item of wigMaintenance" class="no-padding no-margin" label="Wig Maintenance">
                <option [value]="item.name">{{item.name}}</option>     
            </optgroup>
            <optgroup *ngFor="let item of sewIns" class="no-padding no-margin" label="Sewins">
                <option [value]="item.name">{{item.name}}</option>     
            </optgroup>
        </select>
    </div>
    <div class="fp">
        <p #servicedesc class="text-justify text-white text-center">
    
        </p>
    </div>
    <div class="form-group mx-auto mx-sm-auto mx-md-auto mx-lg-auto mx-xl-auto">
        <div class="text-center text-white">
            <button (click)="save()" #emailstartbtn class="btn btn-danger text">
                Add to Cart
            </button>
            <!-- <a (click)="save()" #emailstartbtn class="btn btn-danger text">
                Add to Cart
            </a> -->
        </div>    
    </div>
</div>