
<section>
    <!-- Works-Section-->
    <div class="section-banner" style="background-image:url(assets/img/images/banner-home-img.jpg);">
        <section #workflow hidden class="intro lead-landing-section pb-0">
            <div #starter class="row">
                <div class="col-md-6 col-lg-5 d-flex flex-column offset-lg-1 justify-content-center">
                    <offer>
                    </offer>
                </div>
                <div class="col-md-6 col-lg-5 offset-lg-1">
                    <div #emailstart >
                        <offer-sign-up selection="{{selection}}" (sendIndex)="emailStartBtn()"></offer-sign-up>
                        <br>
                    <div class="form-group mx-auto mx-sm-auto mx-md-auto mx-lg-auto mx-xl-auto">
                        <!-- <div class="text-center text-white">
                            <a href="#" (click)="emailStartBtn()" #emailstartbtn class="btn btn-common text">Start Here</a>
                        </div> -->
                    </div>
                    </div>
                </div>
            </div>
            <div #cartmessage hidden class="justify-content-center">
            <offer [message-events]="messageEvents">
            </offer>
                <br><br>
            </div>
            <div #application hidden>
                <appointment-setup 
                (back)="prebtn()" 
                (next)="nxtbtn()" 
                [cart-events]="cartEvents"
                ></appointment-setup>
                <div hidden class="form-group mx-auto mx-sm-auto mx-md-auto mx-lg-auto mx-xl-auto">
                    <div class="text-center">
                        <a href="#" (click)="applicationBtn()" #appointmentbtn class="btn btn-grad text">Finish Booking</a>
                        <a href="#" (click)="clearCart()" #clearcart class="btn btn-danger text">Clear Cart</a>
                    </div>
                </div>
            </div>

        </section>

        <section #calltoaction class="container">
            <div class="wrapper">
                <h2 class="text-black-50">The Mane Attraction <br>Cosmetology &amp; <br>Beautification Services</h2>
                <p class="sub-title">NO EXTRA PEOPLE. When coming for an install please be sure to come alone!<br>
                NON-REFUNDABLE deposits are required for all bookings online and the difference is due in cash only.</p>
                <br>
                <button (click)="book()" class="btn btn-default" >Lets Book an Appointment</button>
            </div>
        </section>
    </div>
    <!-- End-Works-Section-->
    
    <!-- Blog-Section-->
    <div class="section section-blog gx-background">
        <div class="container gx-white">
            <div #wiginstall class="blog-featured">
                <h2 class="text-center">Wig Installs</h2>
                <div #wiginstalls *ngFor="let item of wigInstalls" class="wrapper">
                    <div class="item-post">
                        <div class="wrapp">
                            <div class="thumb">
                                <a hidden href="#" [title]="item.name"><span
                                        class="wrap-img" [style.background-image]="item.images.location">
                                        <img
                                            width="705" height="432" [src]="item.images.location"
                                            class="attachment-featured size-featured wp-post-image" alt=""></span></a>
                            </div>
                            <div class="wrap-content">
                                <a href="#" (click)="select(item.name)">
                                <div class="wrap">
                                    <h3>{{item.name}}</h3>
                                    <p class="meta">
                                        <span class="date">Price: ${{item.price}}</span> / <span class="author"><a
                                                href="#" title="Time" rel="author">{{item.duration}} min</a></span></p>
                                    <p class="desc">
                                        {{item.description}}
                                    </p>
    
                                    <ul class="social-share">
    
                                    </ul>
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div #wigmaintance class="blog-featured">
                <h2 class="text-center">Wig Maintenance</h2>
                <div #wiginstalls *ngFor="let item of wigMaintenance" class="wrapper">
                    <div class="item-post">
                        <div class="wrapp">
                            <div class="thumb">
                                <a hidden href="#" [title]="item.name"><span class="wrap-img" [style.background-image]="item.images.location">
                                        <img width="705" height="432" [src]="item.images.location"
                                            class="attachment-featured size-featured wp-post-image" alt=""></span></a>

                            </div>
                            <div class="wrap-content">
                                <a href="#" (click)="selectAddon(item.name)">
                                <div class="wrap">
                                    <h3>{{item.name}}</h3>
                                    <p class="meta">
                                        <span class="date">Price: ${{item.price}}</span> / <span class="author"><a href="#" title="Time"
                                                rel="author">{{item.duration}} min</a></span></p>
                                    <p class="desc">
                                        {{item.description}}
                                    </p>
                                
                                    <ul class="social-share">
                                
                                    </ul>
                                </div>

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div #addon hidden class="blog-featured">
                <h2 class="text-center">Add-Ons</h2>
                <div  *ngFor="let item of addons" class="wrapper">
                    <div class="item-post">
                        <div class="wrapp">
                            <div class="thumb">
                                <a hidden href="#" [title]="item.name"><span class="wrap-img" [style.background-image]="item.images.location">
                                        <img width="705" height="432" [src]="item.images.location"
                                            class="attachment-featured size-featured wp-post-image" alt=""></span></a>

                            </div>
                            <div class="wrap-content">
                                <a href="#" (click)="selectAddon(item.name)">
                                <div class="wrap">
                                    <h3>{{item.name}}</h3>
                                    <p class="meta">
                                        <span class="date">Price: ${{item.price}}</span> / <span class="author"><a href="#" title="Time"
                                                rel="author">{{item.duration}} min</a></span></p>
                                    <p class="desc">
                                        {{item.description}}
                                    </p>
                                
                                    <ul class="social-share">
                                
                                    </ul>
                                </div>

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div #addonscolor hidden class="blog-featured">
                <h2 class="text-center">Color Add-Ons</h2>
                <div  *ngFor="let item of addonColors" class="wrapper">
                    <div class="item-post">
                        <div class="wrapp">
                            <div class="thumb">
                                <a hidden href="#" [title]="item.name"><span class="wrap-img" [style.background-image]="item.images.location">
                                        <img width="705" height="432" [src]="item.images.location"
                                            class="attachment-featured size-featured wp-post-image" alt=""></span></a>

                            </div>
                            <div class="wrap-content">
                                <a href="#" (click)="selectAddon(item.name)">
                                <div class="wrap">
                                    <h3>{{item.name}}</h3>
                                    <p class="meta">
                                        <span class="date">Price: ${{item.price}}</span> / <span class="author"><a href="#" title="Time"
                                                rel="author">{{item.duration}} min</a></span></p>
                                    <p class="desc">
                                        {{item.description}}
                                    </p>
                                
                                    <ul class="social-share">
                                
                                    </ul>
                                </div>

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End-Blog-Section-->

</section>