@import '../../../scss/theme/theme';

/* ==========================================================================
3. Hero Area
========================================================================== */
.intro{
	//todo add image from salon
	// background: url('/assets/img/CPA-Images/pexels-canva-studio-3194521.jpg') no-repeat;
    background-size: cover;
	color: $primaryHomePageText;
	padding: 2em 0;
	padding-bottom: 50px;
	overflow: hidden;
	position: relative;
	height: 110%;
	p {
		color: $secondaryHomePageText;
	}
	.overlay{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;			
		left: 0px;
		background: $default;
		opacity: 0.4;
	}
	.heading-count{
		h2{
			font-size: 80px;
			margin-bottom: 10px;
			text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
		}
	}
	.target-scroll{
		margin-top: 40px;
		display: inline-block;
		i{
			color: $secondaryTextColor;
			font-size: 40px;
			-webkit-transition: all 0.2s linear;
			-moz-transition: all 0.2s linear;
			-o-transition: all 0.2s linear;
			transition: all 0.2s linear;
			&:hover{
				color: $bgColor4;
			}
		}
	}
	.btn{
		margin: 10px;
	}
}

