
    .theme-flat-0 {
      --layer1: #384e75;
      --layer2: #2a3860;
      --layer3: #32bea6;
      --layer4: #009c99;
      --layer5: #83d947;
      --layer6: #edf5ff;
      --layer7: #d6e8fd;
      --layer8: #232e41;}
    
    .theme-flat-1 {
      --layer1: #384e75;
      --layer2: #2a3860;
      --layer3: #b6baf2;
      --layer4: #7c84e8;
      --layer5: #424ede;
      --layer6: #d6e8fd;
      --layer7: #bcdefd;
      --layer8: #edf5ff;}
    
    .theme-flat-2 {
      --layer1: #f7a831;
      --layer2: #fd8b39;
      --layer3: #384e75;
      --layer4: #2a3860;
      --layer5: #232e41;}
    
    .theme-flat-3 {
      --layer1: #fed943;
      --layer2: #fcbe2c;
      --layer3: #f75f79;
      --layer4: #cf3086;
      --layer5: #fcced3;
      --layer6: #f9a7b0;
      --layer7: #ffe4e9;
      --layer8: #2a3860;
      --layer9: #fff167;
      --layer10: #232e41;
      --layer11: #9e1961;}
    
    .theme-flat-4 {
      --layer1: #fff167;
      --layer2: #32bea6;
      --layer3: #009c99;
      --layer4: #83d947;
      --layer5: #d6e8fd;
      --layer6: #bcdefd;
      --layer7: #fed943;}
    
    .theme-flat-5 {
      --layer1: #2a3860;
      --layer2: #232e41;
      --layer3: #384e75;
      --layer4: #d6e8fd;
      --layer5: #bcdefd;
      --layer6: #edf5ff;
      --layer7: #7c84e8;
      --layer8: #424ede;}
    
    .theme-flat-6 {
      --layer1: #f7a831;
      --layer2: #fd8b39;
      --layer3: #fed943;
      --layer4: #fcbe2c;
      --layer5: #fff167;
      --layer6: #edf5ff;
      --layer7: #d6e8fd;}
    
    .theme-flat-7 {
      --layer1: #2a3860;
      --layer2: #232e41;
      --layer3: #7c84e8;
      --layer4: #424ede;
      --layer5: #d6e8fd;
      --layer6: #bcdefd;
      --layer7: #edf5ff;
      --layer8: #384e75;}
    
    .theme-flat-8 {
      --layer1: #384e75;
      --layer2: #2a3860;
      --layer3: #b6baf2;
      --layer4: #7c84e8;
      --layer5: #424ede;}
    
    .theme-flat-9 {
      --layer1: #2a3860;
      --layer2: #232e41;
      --layer3: #edf5ff;
      --layer4: #d6e8fd;
      --layer5: #384e75;}
    
    .theme-flat-10 {
      --layer1: #cf3086;
      --layer2: #9e1961;
      --layer3: #f75f79;
      --layer4: #fff;}
    
    .theme-flat-11 {
      --layer1: #edf5ff;
      --layer2: #d6e8fd;
      --layer3: #384e75;
      --layer4: #2a3860;
      --layer5: #232e41;}
    
    .theme-flat-12 {
      --layer1: #fed943;
      --layer2: #fcbe2c;
      --layer3: #f7a831;
      --layer4: #edf5ff;
      --layer5: #d6e8fd;
      --layer6: #384e75;
      --layer7: #2a3860;
      --layer8: #fd8b39;
      --layer9: #232e41;}
    
    .theme-flat-13 {
      --layer1: #edf5ff;
      --layer2: #d6e8fd;
      --layer3: #cf3086;
      --layer4: #9e1961;
      --layer5: #f75f79;}
    
    .theme-flat-14 {
      --layer1: #384e75;
      --layer2: #2a3860;
      --layer3: #fcbe2c;
      --layer4: #f7a831;
      --layer5: #000;
      --layer6: #7c84e8;
      --layer7: #fd8b39;
      --layer8: #424ede;}
    
    .theme-flat-15 {
      --layer1: #99544e;
      --layer2: #66333e;
      --layer3: #c1674c;}
    
    .theme-flat-16 {
      --layer1: #f7a831;
      --layer2: #fd8b39;
      --layer3: #cf3086;
      --layer4: #9e1961;
      --layer5: #f75f79;
      --layer6: #fed943;
      --layer7: #fcbe2c;}
    
    .theme-flat-18 {
      --layer1: #b6baf2;
      --layer2: #7c84e8;
      --layer3: #edf5ff;
      --layer4: #f75f79;
      --layer5: #424ede;
      --layer6: #384e75;
      --layer7: #2a3860;
      --layer8: #d6e8fd;
      --layer9: #232e41;}
    
    .theme-flat-19 {
      --layer1: #32bea6;
      --layer2: #009c99;
      --layer3: #edf5ff;
      --layer4: #d6e8fd;
      --layer5: #bcdefd;
      --layer6: #83d947;}
    
    .theme-flat-20 {
      --layer1: #fcbe2c;
      --layer2: #f7a831;
      --layer3: #fed943;
      --layer4: #fff;}
    
    .theme-flat-21 {
      --layer1: #7c84e8;
      --layer2: #424ede;
      --layer3: #b6baf2;
      --layer4: #384e75;
      --layer5: #2a3860;
      --layer6: #edf5ff;
      --layer7: #d6e8fd;
      --layer8: #bcdefd;}
    
    .theme-flat-22 {
      --layer1: #d6e8fd;
      --layer2: #cf3086;
      --layer3: #9e1961;
      --layer4: #f75f79;
      --layer5: #384e75;
      --layer6: #edf5ff;}
    
    .theme-flat-23 {
      --layer1: #d6e8fd;
      --layer2: #bcdefd;
      --layer3: #edf5ff;
      --layer4: #fd8b39;
      --layer5: #f75f79;
      --layer6: #cf3086;
      --layer7: #000;
      --layer8: #9e1961;}
    
    .theme-flat-24 {
      --layer1: #384e75;
      --layer2: #2a3860;}
    
    .theme-flat-25 {
      --layer1: #edf5ff;
      --layer2: #d6e8fd;
      --layer3: #384e75;
      --layer4: #2a3860;
      --layer5: #bcdefd;
      --layer6: #7c84e8;
      --layer7: #424ede;
      --layer8: #f75f79;
      --layer9: #83d947;
      --layer10: #cf3086;
      --layer11: #32bea6;}
    
    .theme-flat-26 {
      --layer1: #d6e8fd;
      --layer2: #bcdefd;
      --layer3: #f7a831;
      --layer4: #fd8b39;
      --layer5: #fcbe2c;
      --layer6: #384e75;
      --layer7: #2a3860;}
    
    .theme-flat-27 {
      --layer1: #d6e8fd;
      --layer2: #bcdefd;
      --layer3: #edf5ff;
      --layer4: #32bea6;
      --layer5: #009c99;
      --layer6: #83d947;}
    
    .theme-flat-28 {
      --layer1: #99544e;
      --layer2: #66333e;}
    
    .theme-flat-29 {
      --layer1: #7c84e8;
      --layer2: #424ede;
      --layer3: #b6baf2;
      --layer4: #384e75;
      --layer5: #2a3860;
      --layer6: #232e41;}
    
    .theme-flat-30 {
      --layer1: #424ede;
      --layer2: #b6baf2;
      --layer3: #7c84e8;
      --layer4: #384e75;
      --layer5: #2a3860;}
    
    .theme-flat-31 {
      --layer1: #f7a831;
      --layer2: #fd8b39;
      --layer3: #fcbe2c;
      --layer4: #f75f79;
      --layer5: #fff167;
      --layer6: #fed943;
      --layer7: #99544e;
      --layer8: #66333e;}
    
    .theme-flat-32 {
      --layer1: #384e75;
      --layer2: #2a3860;
      --layer3: #b6baf2;
      --layer4: #7c84e8;
      --layer5: #424ede;
      --layer6: #232e41;
      --layer7: #d6e8fd;
      --layer8: #bcdefd;}
    
    .theme-flat-33 {
      --layer1: #edf5ff;
      --layer2: #d6e8fd;
      --layer3: #bcdefd;
      --layer4: #384e75;
      --layer5: #2a3860;}
    
    .theme-flat-34 {
      --layer1: #fed943;
      --layer2: #fcbe2c;
      --layer3: #f7a831;
      --layer4: #fff167;}
    
    .theme-flat-35 {
      --layer1: #f75f79;
      --layer2: #cf3086;
      --layer3: #9e1961;}
    
    .theme-flat-36 {
      --layer1: #384e75;
      --layer2: #2a3860;
      --layer3: #232e41;
      --layer4: #7c84e8;
      --layer5: #424ede;
      --layer6: #b6baf2;
      --layer7: #f75f79;
      --layer8: #cf3086;}
    
    .theme-flat-37 {
      --layer1: #f75f79;
      --layer2: #cf3086;
      --layer3: #edf5ff;
      --layer4: #d6e8fd;
      --layer5: #384e75;
      --layer6: #2a3860;}
    
    .theme-flat-38 {
      --layer1: #384e75;
      --layer2: #2a3860;
      --layer3: #232e41;
      --layer4: #d6e8fd;
      --layer5: #bcdefd;
      --layer6: #edf5ff;
      --layer7: #32bea6;
      --layer8: #f75f79;
      --layer9: #009c99;
      --layer10: #cf3086;}
    
    .theme-flat-39 {
      --layer1: #83d947;
      --layer2: #32bea6;
      --layer3: #fcced3;
      --layer4: #f9a7b0;
      --layer5: #ffe4e9;
      --layer6: #2a3860;
      --layer7: #fff167;
      --layer8: #99544e;
      --layer9: #66333e;
      --layer10: #232e41;
      --layer11: #009c99;
      --layer12: #fed943;}
    
    .theme-flat-40 {
      --layer1: #edf5ff;
      --layer2: #d6e8fd;
      --layer3: #f7a831;
      --layer4: #fd8b39;}
    
    .theme-flat-41 {
      --layer1: #fd8b39;
      --layer2: #f75f79;
      --layer3: #edf5ff;
      --layer4: #d6e8fd;
      --layer5: #fed943;
      --layer6: #cf3086;
      --layer7: #fcbe2c;}
    
    .theme-flat-42 {
      --layer1: #b6baf2;
      --layer2: #7c84e8;
      --layer3: #424ede;
      --layer4: #384e75;
      --layer5: #d6e8fd;
      --layer6: #bcdefd;
      --layer7: #2a3860;
      --layer8: #232e41;}
    
    .theme-flat-43 {
      --layer1: #cf3086;
      --layer2: #9e1961;
      --layer3: #edf5ff;
      --layer4: #d6e8fd;
      --layer5: #bcdefd;}
    
    .theme-flat-44 {
      --layer1: #d6e8fd;
      --layer2: #bcdefd;
      --layer3: #edf5ff;}
    
    .theme-flat-46 {
      --layer1: #2a3860;
      --layer2: #232e41;
      --layer3: #edf5ff;
      --layer4: #d6e8fd;
      --layer5: #7c84e8;
      --layer6: #424ede;
      --layer7: #f75f79;
      --layer8: #cf3086;
      --layer9: #384e75;}
    
    .theme-flat-47 {
      --layer1: #d6e8fd;
      --layer2: #bcdefd;
      --layer3: #edf5ff;
      --layer4: #b6baf2;
      --layer5: #7c84e8;
      --layer6: #424ede;
      --layer7: #384e75;
      --layer8: #2a3860;}
    
    .theme-flat-48 {
      --layer1: #cf3086;
      --layer2: #9e1961;
      --layer3: #f75f79;
      --layer4: #edf5ff;
      --layer5: #d6e8fd;
      --layer6: #bcdefd;}
    
    .theme-flat-49 {
      --layer1: #edf5ff;
      --layer2: #d6e8fd;
      --layer3: #7c84e8;
      --layer4: #424ede;
      --layer5: #b6baf2;
      --layer6: #fff167;
      --layer7: #384e75;
      --layer8: #fed943;
      --layer9: #bcdefd;
      --layer10: #2a3860;}
    