<div class="features-boxed offer-form">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">
                    Chyna at <br>
                    The Mane Attraction</h2>
                <p class="text-center">
                700 Burnside Ave East Hartford, Connecticut <br> At the end of the plaza second to last door
                </p>
                <br>
            </div>
            <div #message hidden class="row">
                <div class="col-12 text-center">
                    <h1>
                        {{msgData.title}}
                    </h1>
                    <h3>{{msgData.subTitle}} </h3>
                </div>
                <p #msg class="text-center col-12">
                    {{msgData.message}}
                </p>
            </div>
            <div #display class="row">
                <div class="col text-center">
                    <ul>
                    <li><h6>PLEASE COME WASH AND FULLY BLOW DRIED if getting any form of sew in. (If not fee is 10$)</h6></li>
                    <li><h6>ALL WIG ORDERS Must have a deposit of half the amount due in order to start wig process, keep in mind wig order turn
                    over time is a week (2-4 business) days so please book in advance .IF YOU NEED A RUSH UNIT THERE WILL BE A FEE OF 40$ .
                    ( Cash / paypal only)</h6></li>
                    </ul>
                    <br>
                    <h6>WIG ORDERS please Txt 860 833 4624 do not book online!
                    I DO NOT work over anyones work as far as installing units made by someone else, frontal</h6>
                </div>
                <div class="col text-justify">
                    <p>
                        ALL FRONTALS AND WIGS must be brought 3-4 days in advance before your appointment. To make sure I can work with the lace
                        , quailty lace is needed for a flawless install! Failure to do so leads to a same day customization fee ($15)
                        If you do not live near u can always ship it to the address you receive once booking
                        BOOKINGS ARE ONLY ONE MONTH AT A TIME
                        QUESTIONS & CONCERNS PLEASE txt (860 8334624)
                    </p>
                </div>
            </div>
            <br>
            <p class="text-center">
            BOOKINGS ARE ONLY ONE MONTH AT A TIME
            QUESTIONS & CONCERNS PLEASE text (860 8334624)
            </p>
        </div>
</div>