
    .theme-flat-0 {
      --layer1: #ce7419;
      --layer2: #fcba29;
      --layer3: #e99a23;}
    
    .theme-flat-4 {
      --layer1: #ce7419;
      --layer2: #fcba29;
      --layer3: #e99a23;
      --layer4: #000;}
    
    .theme-flat-7 {
      --layer1: #e99a23;
      --layer2: #fcba29;
      --layer3: #ce7419;
      --layer4: #f2a91d;
      --layer5: #000;}
    