<!--Copyright-->
<div class="footer-copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>© {{copyright}}, made with love by
                    <span>Go<svg width="20" height="25" class="theme-line-64">
                            <use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#arrow-right-1"></use>
                        </svg>ConnectX
                    </span></p>

            </div>
        </div>
    </div>
</div>