
    .theme-flat-0 {
      --layer1: #ffd782;
      --layer2: #f98c96;
      --layer3: #dd3e46;}
    
    .theme-flat-1 {
      --layer1: #cfdfe8;
      --layer2: #aabece;
      --layer3: #799eb7;
      --layer4: #5a6470;}
    
    .theme-flat-2 {
      --layer1: #ffd782;
      --layer2: #5a6470;
      --layer3: #000;
      --layer4: #db527d;}
    
    .theme-flat-3 {
      --layer1: #ffd782;
      --layer2: #f4f4e6;
      --layer3: #195c85;
      --layer4: #e97424;
      --layer5: #dd3e46;
      --layer6: #f98c96;}
    
    .theme-flat-4 {
      --layer1: #5a6470;
      --layer2: #cfdfe8;
      --layer3: #799eb7;}
    
    .theme-flat-5 {
      --layer1: #ffd782;
      --layer2: #87cee9;
      --layer3: #2d75bb;
      --layer4: #fff;
      --layer5: #cfdfe8;
      --layer6: #5a6470;
      --layer7: #e97424;}
    
    .theme-flat-6 {
      --layer1: #d3843d;
      --layer2: #b5554e;
      --layer3: #f7c469;
      --layer4: #5a6470;
      --layer5: #ffd782;}
    
    .theme-flat-7 {
      --layer1: #e97424;
      --layer2: #f98c96;
      --layer3: #ffd782;
      --layer4: #dd3e46;
      --layer5: #fff;}
    
    .theme-flat-8 {
      --layer1: #f98c96;
      --layer2: #dd3e46;
      --layer3: #5a6470;
      --layer4: #fff;
      --layer5: #ffd782;
      --layer6: #cfdfe8;}
    
    .theme-flat-9 {
      --layer1: #ffd782;
      --layer2: #e97424;
      --layer3: #f9bdc4;
      --layer4: #d3843d;}
    
    .theme-flat-10 {
      --layer1: #5a6470;
      --layer2: #7d8d9c;
      --layer3: #ffd782;}
    
    .theme-flat-11 {
      --layer1: #5a6470;
      --layer2: #f98c96;
      --layer3: #dd3e46;
      --layer4: #fff;
      --layer5: #7d8d9c;
      --layer6: #ffd782;}
    
    .theme-flat-12 {
      --layer1: #5a6470;
      --layer2: #cfdfe8;
      --layer3: #7d8d9c;
      --layer4: #2d75bb;}
    
    .theme-flat-13 {
      --layer1: #f98c96;
      --layer2: #dd3e46;
      --layer3: #000;}
    
    .theme-flat-14 {
      --layer1: #f98c96;
      --layer2: #cfdfe8;
      --layer3: #dd3e46;
      --layer4: #5a6470;}
    
    .theme-flat-15 {
      --layer1: #f98c96;
      --layer2: #aabece;
      --layer3: #5a6470;
      --layer4: #ce384a;
      --layer5: #fff;}
    
    .theme-flat-16 {
      --layer1: #cfdfe8;
      --layer2: #32b1cc;
      --layer3: #2d75bb;
      --layer4: #fff;
      --layer5: #7d8d9c;
      --layer6: #7fcac9;
      --layer7: #ffd782;}
    
    .theme-flat-17 {
      --layer1: #cfdfe8;
      --layer2: #eaaa44;
      --layer3: #f7c469;
      --layer4: #d3843d;
      --layer5: #b5554e;
      --layer6: #fff;
      --layer7: #2d75bb;}
    
    .theme-flat-18 {
      --layer1: #f7c469;
      --layer2: #ce384a;
      --layer3: #ffd782;
      --layer4: #f4f4e6;
      --layer5: #f46779;}
    
    .theme-flat-19 {
      --layer1: #5a6470;
      --layer2: #f98c96;
      --layer3: #dd3e46;
      --layer4: #f4f4e6;}
    
    .theme-flat-20 {
      --layer1: #5a6470;
      --layer2: #aabece;
      --layer3: #cfdfe8;
      --layer4: #ffd782;}
    
    .theme-flat-21 {
      --layer1: #dd3e46;
      --layer2: #5a6470;
      --layer3: #f98c96;
      --layer4: #87cee9;
      --layer5: #ce384a;
      --layer6: #fff;
      --layer7: #2d75bb;}
    
    .theme-flat-22 {
      --layer1: #b5554e;
      --layer2: #d3843d;
      --layer3: #2d75bb;
      --layer4: #87cee9;
      --layer5: #ffd782;
      --layer6: #e97424;
      --layer7: #f98c96;}
    
    .theme-flat-23 {
      --layer1: #87cee9;
      --layer2: #2d75bb;
      --layer3: #cfdfe8;
      --layer4: #fff;}
    
    .theme-flat-24 {
      --layer1: #f98c96;
      --layer2: #dd3e46;
      --layer3: #ce2838;
      --layer4: #ed6e7d;
      --layer5: #b22835;
      --layer6: #fff;}
    
    .theme-flat-25 {
      --layer1: #2d75bb;
      --layer2: #87cee9;
      --layer3: #f4f4e6;
      --layer4: #fff;}
    
    .theme-flat-26 {
      --layer1: #5a6470;
      --layer2: #f9bdc4;
      --layer3: #f98c96;
      --layer4: #dd3e46;}
    
    .theme-flat-27 {
      --layer1: #5a6470;
      --layer2: #cfdfe8;
      --layer3: #2d75bb;
      --layer4: #87cee9;
      --layer5: #fff;}
    
    .theme-flat-28 {
      --layer1: #7d8d9c;
      --layer2: #f98c96;
      --layer3: #dd3e46;
      --layer4: #5a6470;}
    
    .theme-flat-29 {
      --layer1: #5a6470;
      --layer2: #f98c96;
      --layer3: #dd3e46;
      --layer4: #c43140;
      --layer5: #f4a4ad;
      --layer6: #fff;
      --layer7: #cfdfe8;}
    
    .theme-flat-30 {
      --layer1: #f98c96;
      --layer2: #dd3e46;
      --layer3: #fff;
      --layer4: #f7c469;}
    
    .theme-flat-31 {
      --layer1: #f4f4e6;
      --layer2: #dd3e46;
      --layer3: #2d75bb;
      --layer4: #cfdfe8;
      --layer5: #ffd782;}
    
    .theme-flat-32 {
      --layer1: #cfdfe8;
      --layer2: #5a6470;}
    
    .theme-flat-33 {
      --layer1: #dd3e46;
      --layer2: #f98c96;
      --layer3: #fff;}
    
    .theme-flat-34 {
      --layer1: #e97424;
      --layer2: #ffd782;}
    
    .theme-flat-35 {
      --layer1: #f98c96;
      --layer2: #dd3e46;}
    
    .theme-flat-36 {
      --layer1: #eba72e;
      --layer2: #d9c9b9;
      --layer3: #f0dfce;
      --layer4: #ad6643;
      --layer5: #a82a27;
      --layer6: #95573a;
      --layer7: #eb423f;
      --layer8: #fbe9d8;
      --layer9: #000;}
    
    .theme-flat-37 {
      --layer1: #f7b030;
      --layer2: #f0c6a4;
      --layer3: #eb423f;
      --layer4: #7e8589;
      --layer5: #f7cca9;
      --layer6: #6a7073;
      --layer7: #606669;}
    
    .theme-flat-38 {
      --layer1: #7e8589;
      --layer2: #95573a;
      --layer3: #ad6643;
      --layer4: #fbe9d8;
      --layer5: #e3d3c2;}
    
    .theme-flat-39 {
      --layer1: #fda2c6;
      --layer2: #fd84b3;
      --layer3: #ff6aa0;
      --layer4: #7e8589;
      --layer5: #606669;
      --layer6: #fbe9d8;
      --layer7: #95573a;}
    
    .theme-flat-40 {
      --layer1: #606669;
      --layer2: #7e8589;
      --layer3: #f0dfce;
      --layer4: #d9c9b9;
      --layer5: #ad6643;
      --layer6: #6a7073;
      --layer7: #000;}
    
    .theme-flat-41 {
      --layer1: #f7cca9;
      --layer2: #eba72e;
      --layer3: #95573a;
      --layer4: #f7b030;}
    
    .theme-flat-42 {
      --layer1: #fbe9d8;
      --layer2: #e3d3c2;
      --layer3: #95573a;
      --layer4: #7a4830;}
    
    .theme-flat-43 {
      --layer1: #7e8589;
      --layer2: #606669;
      --layer3: #757c80;
      --layer4: #fbe9d8;
      --layer5: #e3d3c2;
      --layer6: #6a7073;
      --layer7: #000;}
    
    .theme-flat-44 {
      --layer1: #e0b999;
      --layer2: #4f5659;
      --layer3: #f0c6a4;
      --layer4: #414649;
      --layer5: #000;
      --layer6: #f7cca9;}
    
    .theme-flat-45 {
      --layer1: #6a7073;
      --layer2: #606669;
      --layer3: #4f5659;}
    
    .theme-flat-46 {
      --layer1: #ffb632;
      --layer2: #60b8d1;
      --layer3: #6ed2f0;
      --layer4: #fd84b3;
      --layer5: #fda2c6;
      --layer6: #fbe9d8;
      --layer7: #e3d3c2;
      --layer8: #7e8589;
      --layer9: #6a7073;
      --layer10: #606669;
      --layer11: #000;}
    
    .theme-flat-47 {
      --layer1: #6ed2f0;
      --layer2: #60b8d1;
      --layer3: #fbe9d8;
      --layer4: #f7cca9;
      --layer5: #f7b030;
      --layer6: #eba72e;}
    
    .theme-flat-48 {
      --layer1: #fbe9d8;
      --layer2: #e3d3c2;
      --layer3: #606669;
      --layer4: #414649;}
    
    .theme-flat-49 {
      --layer1: #d9c9b9;
      --layer2: #000;}
    
    .theme-flat-50 {
      --layer1: #6ed2f0;
      --layer2: #fbe9d8;
      --layer3: #60b8d1;
      --layer4: #f7cca9;
      --layer5: #f7b030;
      --layer6: #eba72e;}
    
    .theme-flat-51 {
      --layer1: #606669;
      --layer2: #7e8589;
      --layer3: #d9c9b9;
      --layer4: #f0dfce;}
    
    .theme-flat-52 {
      --layer1: #6ed2f0;
      --layer2: #60b8d1;
      --layer3: #000;}
    
    .theme-flat-53 {
      --layer1: #606669;
      --layer2: #6a7073;
      --layer3: #7e8589;
      --layer4: #f0dfce;
      --layer5: #d9c9b9;}
    
    .theme-flat-54 {
      --layer1: #606669;
      --layer2: #4f5659;
      --layer3: #7e8589;
      --layer4: #6a7073;}
    
    .theme-flat-55 {
      --layer1: #f7cca9;
      --layer2: #f7b030;
      --layer3: #7e8589;
      --layer4: #6a7073;
      --layer5: #f78a25;
      --layer6: #e37e22;}
    
    .theme-flat-56 {
      --layer1: #fbe9d8;
      --layer2: #e3d3c2;
      --layer3: #f7b030;
      --layer4: #e09f2c;
      --layer5: #f7cca9;
      --layer6: #eba72e;}
    
    .theme-flat-57 {
      --layer1: #4f5659;
      --layer2: #fbe9d8;}
    
    .theme-flat-58 {
      --layer1: #fff;
      --layer2: #eb423f;
      --layer3: #d13330;
      --layer4: #fda2c6;
      --layer5: #c7312e;
      --layer6: #a82a27;
      --layer7: #fd84b3;
      --layer8: #ff6aa0;
      --layer9: #d95a88;}
    
    .theme-flat-59 {
      --layer1: #fbe9d8;
      --layer2: #fda2c6;
      --layer3: #fd84b3;
      --layer4: #f7cca9;
      --layer5: #f7b030;
      --layer6: #eba72e;}
    
    .theme-flat-60 {
      --layer1: #f7cca9;
      --layer2: #f7b030;
      --layer3: #f78a25;
      --layer4: #ed8424;
      --layer5: #e37e22;
      --layer6: #fbe9d8;}
    
    .theme-flat-61 {
      --layer1: #fbe9d8;
      --layer2: #f78a25;
      --layer3: #e3d3c2;}
    
    .theme-flat-62 {
      --layer1: #e09f2c;
      --layer2: #fbe9d8;
      --layer3: #e3d3c2;
      --layer4: #ccbdae;
      --layer5: #eba72e;
      --layer6: #f7b030;}
    
    .theme-flat-63 {
      --layer1: #f7cca9;
      --layer2: #f7b030;
      --layer3: #f0dfce;
      --layer4: #fbe9d8;
      --layer5: #ccbdae;}
    
    .theme-flat-64 {
      --layer1: #606669;
      --layer2: #7e8589;
      --layer3: #6a7073;}
    
    .theme-flat-65 {
      --layer1: #d9c9b9;
      --layer2: #fbe9d8;
      --layer3: #000;}
    
    .theme-flat-66 {
      --layer1: #f7cca9;
      --layer2: #ffb632;
      --layer3: #f7b030;
      --layer4: #4f5659;}
    
    .theme-flat-67 {
      --layer1: #fbe9d8;
      --layer2: #eb423f;
      --layer3: #d9c9b9;
      --layer4: #f0dfce;}
    
    .theme-flat-68 {
      --layer1: #606669;
      --layer2: #fbe9d8;
      --layer3: #e3d3c2;}
    
    .theme-flat-69 {
      --layer1: #ffb632;
      --layer2: #eba72e;
      --layer3: #d9c9b9;
      --layer4: #fbe9d8;}
    
    .theme-flat-70 {
      --layer1: #4f5659;
      --layer2: #f0c6a4;
      --layer3: #414649;
      --layer4: #f7cca9;}
    
    .theme-flat-71 {
      --layer1: #606669;
      --layer2: #4f5659;
      --layer3: #6a7073;
      --layer4: #f0dfce;
      --layer5: #d9c9b9;}
    
    .theme-flat-72 {
      --layer1: #f0dfce;
      --layer2: #fbe9d8;
      --layer3: #ccbdae;}
    
    .theme-flat-74 {
      --layer1: #606669;
      --layer2: #7e8589;
      --layer3: #6a7073;
      --layer4: #f0dfce;
      --layer5: #000;}
    
    .theme-flat-76 {
      --layer1: #606669;
      --layer2: #d9c9b9;
      --layer3: #7e8589;
      --layer4: #6a7073;}
    
    .theme-flat-77 {
      --layer1: #f78a25;
      --layer2: #fbe9d8;
      --layer3: #ed8424;
      --layer4: #e37e22;
      --layer5: #f7cca9;
      --layer6: #f7b030;
      --layer7: #eba72e;}
    
    .theme-flat-78 {
      --layer1: #60b8d1;
      --layer2: #6ed2f0;
      --layer3: #57a6bd;}
    
    .theme-flat-79 {
      --layer1: #d9c9b9;
      --layer2: #f0dfce;
      --layer3: #fbe9d8;}
    
    .theme-flat-80 {
      --layer1: #4f5659;
      --layer2: #414649;
      --layer3: #f0c6a4;
      --layer4: #f7cca9;}
    
    .theme-flat-81 {
      --layer1: #d9c9b9;
      --layer2: #ad6643;
      --layer3: #f0dfce;}
    
    .theme-flat-82 {
      --layer1: #e09f2c;
      --layer2: #f0c6a4;
      --layer3: #6a7073;
      --layer4: #606669;
      --layer5: #f7cca9;
      --layer6: #f7b030;
      --layer7: #f280ac;
      --layer8: #fd84b3;
      --layer9: #000;}
    
    .theme-flat-83 {
      --layer1: #f7b030;
      --layer2: #f0c6a4;
      --layer3: #6a7073;
      --layer4: #f7cca9;
      --layer5: #000;
      --layer6: #606669;}
    
    .theme-flat-84 {
      --layer1: #95573a;
      --layer2: #e0b999;}
    