/* Coolors Exported Palette - coolors.co/f2d7ee-d3bcc0-a5668b-69306d-0e103d */

/* RGB */
.body { background-color: #99B5B9; }
.colorMain { color: #99B5B9; }
.bgColor0 { background-color: #99B5B9; }
.bgColor1 { background-color: #B999B5; }
.bgColor2 { background-color: #93638D; }
.bgColor3 { background-color: #DFDADF; }
.bgColor4 { background-color: #B5B999; }
.bgColor5 { background-color: #8D9363; }
.bgColor6 { background-color: #DFDFDA; }
.fontColor0 { color: #99B5B9; }
.fontColor1 { color: #B999B5; }
.fontColor2 { color: #93638D; }
.fontColor3 { color: #DFDADF; }
.fontColor4 { color: #B5B999; }
.fontColor5 { color: #8D9363; }
.fontColor6 { color: #DFDFDA; }

.body { background-color: #0F0F0F; }
.colorMain { color: #0F0F0F; }
.bgColor0 { background-color: #0F0F0F; }
.bgColor1 { background-color: #000000; }
.bgColor2 { background-color: #353535; }
.bgColor3 { background-color: #5C5C5C; }
.fontColor0 { color: #0F0F0F; }
.fontColor1 { color: #000000; }
.fontColor2 { color: #353535; }
.fontColor3 { color: #5C5C5C; }



$body:   #0F0F0F;
$colorMain: #0F0F0F;
$bgColor0:  #0F0F0F;
$bgColor1:  #000000;
$bgColor2:  #353535;
$bgColor3:  #5C5C5C;
$bgColor4:  #B5B999;
$bgColor5:  #8D9363;
$bgColor6:  #DFDFDA;
$fontColor0: #0F0F0F;
$fontColor1: #000000;
$fontColor2: #353535;
$fontColor3: #5C5C5C;
$fontColor4: #B5B999;
$fontColor5: #8D9363;
$fontColor6: #DFDFDA;
$color1: $bgColor1;
$color2: $bgColor2;
$color3: $bgColor3;
$color4: $bgColor4;
$color5: $bgColor5;

/* HSL */
$_color1: $bgColor1;
$_color2: $bgColor2;
$_color3: $bgColor3;
$_color4: $bgColor4;
$_color5: $bgColor5;

$theme-colors: (
);

/*! `Custom` Bootstrap 4 theme */

$enable-grid-classes:false;
$default:       $body !default;
$primary: $colorMain, !default;
$secondary: $bgColor1, !default;
$success: $bgColor2, !default;
$info: $fontColor3, !default;
$warning: $bgColor4, !default;
$danger: $bgColor5, !default;
$light: $bgColor6, !default;
$dark: $color5, !default;
$enable-gradients:true;
$spacer:0.7rem;
$border-width:0;
$btn-border-radius:1.35rem;

$primaryColor: $default;
$primaryLightColor: $color1;
$primaryDarkColor: $bgColor2;
$secondaryColor: $bgColor0;
$secondaryLightColor: $color2;
$secondaryDarkColor: $color4;
$primaryTextColor: #000;
$secondaryTextColor: #fff;

$preset: $primary;

$gx-lv1: $primary;
$gx-lv2: $colorMain;
$gx-lv3: #000;

/* buttons */
$btnColor:#000;
/* drawIcon */
$layerOne: #000;
$layerTwo: #000;
$logoBackGround: #FFF;

$btn-grad: $bgColor0;
$btn-grad: -webkit-linear-gradient(legacy-direction(to right), $bgColor0 0%, $bgColor4 100%);
$btn-grad: -webkit-gradient(linear, left top, right top, from($bgColor0), to($bgColor4));
$btn-grad: -webkit-linear-gradient(left, $bgColor0 0%, $bgColor4 100%);
$btn-grad: -o-linear-gradient(left, $bgColor0 0%, $bgColor4 100%);
$btn-grad: linear-gradient(to right, $bgColor0 0%, $bgColor4 100%);

$primaryHomePageText: #000;
$secondaryHomePageText: #000;
$background: #c0c0c0;