/*
* Legion Market v0.0.1
* Copyright 2018, Legion Market
* www.legionmarket.com
* Free to use under the GPLv3 license.
*/
/*
Triadic Colors
#6E005D
#5D6E00
#3D4800
#819416
#005D6E
#003D48
#168194
Analagous Colors
#6E005D
#6E004B
#6E0038
#6E0026
#6D006E
#5A006E
#48006E
Complementary Colors
#6E005D
#006E11
#00480B
#002205
#16942A
#38BA4C
#65E178
Monochromatic Colors
#6E005D
#48003D
#22001C
#000000
#941681
#BA38A6
#E165CE
*/
@import "buttons";
@import "colors";
.btn-grad {
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none;
  background: $bgColor0;
  background: -webkit-linear-gradient(legacy-direction(to right), $bgColor0 0%, $bgColor4 100%);
  background: -webkit-gradient(linear, left top, right top, from($bgColor0), to($bgColor4));
  background: -webkit-linear-gradient(left, $bgColor0 0%, $bgColor4 100%);
  background: -o-linear-gradient(left, $bgColor0 0%, $bgColor4 100%);
  background: linear-gradient(to right, $bgColor0 0%, $bgColor4 100%);
  &:hover {
    background: $bgColor4;
    background: -webkit-linear-gradient(legacy-direction(to right), $bgColor4 0%, $bgColor0 100%);
    background: -webkit-gradient(linear, left top, right top, from($bgColor4), to($bgColor0));
    background: -webkit-linear-gradient(left, $bgColor4 0%, $bgColor0 100%);
    background: -o-linear-gradient(left, $bgColor4 0%, $bgColor0 100%);
    background: linear-gradient(to right, $bgColor4 0%, $bgColor0 100%);
  }
}
