<!-- <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'> -->
<div class="col-12 text-center">
    <h3>{{monthTitle()}}</h3>
</div>
<table >
    <tr>
        <th class="day-name text-center">{{weekdays[0].substring(0,3)}}</th>
        <th class="day-name text-center">{{weekdays[1].substring(0,3)}}</th>
        <th class="day-name text-center">{{weekdays[2].substring(0,3)}}</th>
        <th class="day-name text-center">{{weekdays[3].substring(0,3)}}</th>
        <th class="day-name text-center">{{weekdays[4].substring(0,3)}}</th>
        <th class="day-name text-center">{{weekdays[5].substring(0,3)}}</th>
        <th class="day-name text-center">{{weekdays[6].substring(0,3)}}</th>
    </tr>
<!-- Week week1 -->
<tr *ngIf="week1 != null">
    <td *ngIf="week1.day1.dayNumber != 0" class="day">
        <span class="number">{{week1.day1.dayNumber}}</span>
        <div *ngIf="week1.day1.timeSlots.length < 3">
            <ul *ngFor="let slot of week1.day1.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week1.day1.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week1.day1.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week1.day1.date, "#week1day1")' id="week1day1"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week1.day1.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week1.day1.dayNumber == 0" class="day">
    </td>
    <td *ngIf="week1.day2.dayNumber != 0" class="day">
        <span class="number">{{week1.day2.dayNumber}}</span>
        <div *ngIf="week1.day2.timeSlots.length < 3">
            <ul *ngFor="let slot of week1.day2.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week1.day2.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week1.day2.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week1.day2.date, "#week1day2")' id="week1day2"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week1.day2.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week1.day2.dayNumber == 0" class="day">
    </td>
    <td *ngIf="week1.day3.dayNumber != 0" class="day">
        <span class="number">{{week1.day3.dayNumber}}</span>
        <div *ngIf="week1.day3.timeSlots.length < 3">
            <ul *ngFor="let slot of week1.day3.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week1.day3.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week1.day3.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week1.day3.date, "#week1day3")' id="week1day3"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week1.day3.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week1.day3.dayNumber == 0" class="day">
    </td>
    <td *ngIf="week1.day4.dayNumber != 0" class="day">
        <span class="number">{{week1.day4.dayNumber}}</span>
        <div *ngIf="week1.day4.timeSlots.length < 3">
            <ul *ngFor="let slot of week1.day4.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week1.day4.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week1.day4.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week1.day4.date, "#week1day4")' id="week1day4"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week1.day4.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week1.day4.dayNumber == 0" class="day">
    </td>
    <td *ngIf="week1.day5.dayNumber != 0" class="day">
        <span class="number">{{week1.day5.dayNumber}}</span>
        <div *ngIf="week1.day5.timeSlots.length < 3">
            <ul *ngFor="let slot of week1.day5.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week1.day5.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week1.day5.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week1.day5.date, "#week1day5")' id="week1day5"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week1.day5.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week1.day5.dayNumber == 0" class="day">
    </td>
    <td *ngIf="week1.day6.dayNumber != 0" class="day">
        <span class="number">{{week1.day6.dayNumber}}</span>
        <div *ngIf="week1.day6.timeSlots.length < 3">
            <ul *ngFor="let slot of week1.day6.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week1.day6.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week1.day6.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week1.day6.date, "#week1day6")' id="week1day6"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week1.day6.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week1.day6.dayNumber == 0" class="day">
    </td>
    <td *ngIf="week1.day7.dayNumber != 0" class="day">
        <span class="number">{{week1.day7.dayNumber}}</span>
        <div *ngIf="week1.day7.timeSlots.length < 3">
            <ul *ngFor="let slot of week1.day7.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week1.day7.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week1.day7.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week1.day7.date, "#week1day7")' id="week1day7"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week1.day7.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week1.day7.dayNumber == 0" class="day">
    </td>
</tr>
<!-- week1 end -->
<!-- Week week2 -->
<tr *ngIf="week2 != null">
    <td *ngIf="week2.day1.dayNumber != 0" class="day">
        <span class="number">{{week2.day1.dayNumber}}</span>
        <div *ngIf="week2.day1.timeSlots.length < 3">
            <ul *ngFor="let slot of week2.day1.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week2.day1.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week2.day1.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week2.day1.date, "#week2day1")' id="week2day1"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week2.day1.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week2.day1.dayNumber == 0" class="day">
    </td>
    <td *ngIf="week2.day2.dayNumber != 0" class="day">
        <span class="number">{{week2.day2.dayNumber}}</span>
        <div *ngIf="week2.day2.timeSlots.length < 3">
            <ul *ngFor="let slot of week2.day2.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week2.day2.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week2.day2.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week2.day2.date, "#week2day2")' id="week2day2"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week2.day2.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week2.day2.dayNumber == 0" class="day">
    </td>
    <td *ngIf="week2.day3.dayNumber != 0" class="day">
        <span class="number">{{week2.day3.dayNumber}}</span>
        <div *ngIf="week2.day3.timeSlots.length < 3">
            <ul *ngFor="let slot of week2.day3.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week2.day3.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week2.day3.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week2.day3.date, "#week2day3")' id="week2day3"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week2.day3.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week2.day3.dayNumber == 0" class="day">
    </td>
    <td *ngIf="week2.day4.dayNumber != 0" class="day">
        <span class="number">{{week2.day4.dayNumber}}</span>
        <div *ngIf="week2.day4.timeSlots.length < 3">
            <ul *ngFor="let slot of week2.day4.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week2.day4.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week2.day4.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week2.day4.date, "#week2day4")' id="week2day4"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week2.day4.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week2.day4.dayNumber == 0" class="day">
    </td>
    <td *ngIf="week2.day5.dayNumber != 0" class="day">
        <span class="number">{{week2.day5.dayNumber}}</span>
        <div *ngIf="week2.day5.timeSlots.length < 3">
            <ul *ngFor="let slot of week2.day5.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week2.day5.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week2.day5.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week2.day5.date, "#week2day5")' id="week2day5"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week2.day5.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week2.day5.dayNumber == 0" class="day">
    </td>
    <td *ngIf="week2.day6.dayNumber != 0" class="day">
        <span class="number">{{week2.day6.dayNumber}}</span>
        <div *ngIf="week2.day6.timeSlots.length < 3">
            <ul *ngFor="let slot of week2.day6.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week2.day6.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week2.day6.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week2.day6.date, "#week2day6")' id="week2day6"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week2.day6.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week2.day6.dayNumber == 0" class="day">
    </td>
    <td *ngIf="week2.day7.dayNumber != 0" class="day">
        <span class="number">{{week2.day7.dayNumber}}</span>
        <div *ngIf="week2.day7.timeSlots.length < 3">
            <ul *ngFor="let slot of week2.day7.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week2.day7.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week2.day7.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week2.day7.date, "#week2day7")' id="week2day7"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week2.day7.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week2.day7.dayNumber == 0" class="day">
    </td>
</tr>
<!-- week2 end -->
<!-- Week week3 -->
<tr *ngIf="week3 != null">
    <td *ngIf="week3.day1.dayNumber != 0" class="day">
        <span class="number">{{week3.day1.dayNumber}}</span>
        <div *ngIf="week3.day1.timeSlots.length < 3">
            <ul *ngFor="let slot of week3.day1.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week3.day1.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week3.day1.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week3.day1.date, "#week3day1")' id="week3day1"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week3.day1.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week3.day1.dayNumber == 0" class="day">
    </td>
    <td *ngIf="week3.day2.dayNumber != 0" class="day">
        <span class="number">{{week3.day2.dayNumber}}</span>
        <div *ngIf="week3.day2.timeSlots.length < 3">
            <ul *ngFor="let slot of week3.day2.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week3.day2.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week3.day2.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week3.day2.date, "#week3day2")' id="week3day2"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week3.day2.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week3.day2.dayNumber == 0" class="day">
    </td>
    <td *ngIf="week3.day3.dayNumber != 0" class="day">
        <span class="number">{{week3.day3.dayNumber}}</span>
        <div *ngIf="week3.day3.timeSlots.length < 3">
            <ul *ngFor="let slot of week3.day3.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week3.day3.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week3.day3.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week3.day3.date, "#week3day3")' id="week3day3"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week3.day3.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week3.day3.dayNumber == 0" class="day">
    </td>
    <td *ngIf="week3.day4.dayNumber != 0" class="day">
        <span class="number">{{week3.day4.dayNumber}}</span>
        <div *ngIf="week3.day4.timeSlots.length < 3">
            <ul *ngFor="let slot of week3.day4.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week3.day4.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week3.day4.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week3.day4.date, "#week3day4")' id="week3day4"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week3.day4.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week3.day4.dayNumber == 0" class="day">
    </td>
    <td *ngIf="week3.day5.dayNumber != 0" class="day">
        <span class="number">{{week3.day5.dayNumber}}</span>
        <div *ngIf="week3.day5.timeSlots.length < 3">
            <ul *ngFor="let slot of week3.day5.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week3.day5.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week3.day5.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week3.day5.date, "#week3day5")' id="week3day5"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week3.day5.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week3.day5.dayNumber == 0" class="day">
    </td>
    <td *ngIf="week3.day6.dayNumber != 0" class="day">
        <span class="number">{{week3.day6.dayNumber}}</span>
        <div *ngIf="week3.day6.timeSlots.length < 3">
            <ul *ngFor="let slot of week3.day6.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week3.day6.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week3.day6.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week3.day6.date, "#week3day6")' id="week3day6"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week3.day6.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week3.day6.dayNumber == 0" class="day">
    </td>
    <td *ngIf="week3.day7.dayNumber != 0" class="day">
        <span class="number">{{week3.day7.dayNumber}}</span>
        <div *ngIf="week3.day7.timeSlots.length < 3">
            <ul *ngFor="let slot of week3.day7.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week3.day7.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week3.day7.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week3.day7.date, "#week3day7")' id="week3day7"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week3.day7.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week3.day7.dayNumber == 0" class="day">
    </td>
</tr>
<!-- week3 end -->
<!-- Week week4 -->
<tr *ngIf="week4 != null">
    <td *ngIf="week4.day1.dayNumber != 0" class="day">
        <span class="number">{{week4.day1.dayNumber}}</span>
        <div *ngIf="week4.day1.timeSlots.length < 3">
            <ul *ngFor="let slot of week4.day1.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week4.day1.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week4.day1.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week4.day1.date, "#week4day1")' id="week4day1"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week4.day1.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week4.day1.dayNumber == 0" class="day">
    </td>
    <td *ngIf="week4.day2.dayNumber != 0" class="day">
        <span class="number">{{week4.day2.dayNumber}}</span>
        <div *ngIf="week4.day2.timeSlots.length < 3">
            <ul *ngFor="let slot of week4.day2.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week4.day2.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week4.day2.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week4.day2.date, "#week4day2")' id="week4day2"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week4.day2.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week4.day2.dayNumber == 0" class="day">
    </td>
    <td *ngIf="week4.day3.dayNumber != 0" class="day">
        <span class="number">{{week4.day3.dayNumber}}</span>
        <div *ngIf="week4.day3.timeSlots.length < 3">
            <ul *ngFor="let slot of week4.day3.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week4.day3.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week4.day3.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week4.day3.date, "#week4day3")' id="week4day3"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week4.day3.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week4.day3.dayNumber == 0" class="day">
    </td>
    <td *ngIf="week4.day4.dayNumber != 0" class="day">
        <span class="number">{{week4.day4.dayNumber}}</span>
        <div *ngIf="week4.day4.timeSlots.length < 3">
            <ul *ngFor="let slot of week4.day4.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week4.day4.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week4.day4.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week4.day4.date, "#week4day4")' id="week4day4"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week4.day4.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week4.day4.dayNumber == 0" class="day">
    </td>
    <td *ngIf="week4.day5.dayNumber != 0" class="day">
        <span class="number">{{week4.day5.dayNumber}}</span>
        <div *ngIf="week4.day5.timeSlots.length < 3">
            <ul *ngFor="let slot of week4.day5.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week4.day5.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week4.day5.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week4.day5.date, "#week4day5")' id="week4day5"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week4.day5.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week4.day5.dayNumber == 0" class="day">
    </td>
    <td *ngIf="week4.day6.dayNumber != 0" class="day">
        <span class="number">{{week4.day6.dayNumber}}</span>
        <div *ngIf="week4.day6.timeSlots.length < 3">
            <ul *ngFor="let slot of week4.day6.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week4.day6.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week4.day6.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week4.day6.date, "#week4day6")' id="week4day6"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week4.day6.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week4.day6.dayNumber == 0" class="day">
    </td>
    <td *ngIf="week4.day7.dayNumber != 0" class="day">
        <span class="number">{{week4.day7.dayNumber}}</span>
        <div *ngIf="week4.day7.timeSlots.length < 3">
            <ul *ngFor="let slot of week4.day7.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week4.day7.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week4.day7.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week4.day7.date, "#week4day7")' id="week4day7"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week4.day7.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week4.day7.dayNumber == 0" class="day">
    </td>
</tr>
<!-- week4 end -->
<!-- Week week5 -->
<!-- <tr *ngIf="week5 != null">
    <td *ngIf="week5.day1.dayNumber != 0" class="day">
        <span class="number">{{week5.day1.dayNumber}}</span>
        <div *ngIf="week5.day1.timeSlots.length < 3">
            <ul *ngFor="let slot of week5.day1.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week5.day1.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week5.day1.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week5.day1.date, "#week5day1")' id="week5day1"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week5.day1.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week5.day1.dayNumber == 0" class="day">
    </td>
    <td *ngIf="week5.day2.dayNumber != 0" class="day">
        <span class="number">{{week5.day2.dayNumber}}</span>
        <div *ngIf="week5.day2.timeSlots.length < 3">
            <ul *ngFor="let slot of week5.day2.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week5.day2.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week5.day2.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week5.day2.date, "#week5day2")' id="week5day2"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week5.day2.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week5.day2.dayNumber == 0" class="day">
    </td>
    <td *ngIf="week5.day3.dayNumber != 0" class="day">
        <span class="number">{{week5.day3.dayNumber}}</span>
        <div *ngIf="week5.day3.timeSlots.length < 3">
            <ul *ngFor="let slot of week5.day3.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week5.day3.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week5.day3.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week5.day3.date, "#week5day3")' id="week5day3"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week5.day3.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week5.day3.dayNumber == 0" class="day">
    </td>
    <td *ngIf="week5.day4.dayNumber != 0" class="day">
        <span class="number">{{week5.day4.dayNumber}}</span>
        <div *ngIf="week5.day4.timeSlots.length < 3">
            <ul *ngFor="let slot of week5.day4.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week5.day4.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week5.day4.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week5.day4.date, "#week5day4")' id="week5day4"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week5.day4.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week5.day4.dayNumber == 0" class="day">
    </td>
    <td *ngIf="week5.day5.dayNumber != 0" class="day">
        <span class="number">{{week5.day5.dayNumber}}</span>
        <div *ngIf="week5.day5.timeSlots.length < 3">
            <ul *ngFor="let slot of week5.day5.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week5.day5.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week5.day5.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week5.day5.date, "#week5day5")' id="week5day5"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week5.day5.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week5.day5.dayNumber == 0" class="day">
    </td>
    <td *ngIf="week5.day6.dayNumber != 0" class="day">
        <span class="number">{{week5.day6.dayNumber}}</span>
        <div *ngIf="week5.day6.timeSlots.length < 3">
            <ul *ngFor="let slot of week5.day6.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week5.day6.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week5.day6.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week5.day6.date, "#week5day6")' id="week5day6"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week5.day6.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week5.day6.dayNumber == 0" class="day">
    </td>
    <td *ngIf="week5.day7.dayNumber != 0" class="day">
        <span class="number">{{week5.day7.dayNumber}}</span>
        <div *ngIf="week5.day7.timeSlots.length < 3">
            <ul *ngFor="let slot of week5.day7.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week5.day7.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week5.day7.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week5.day7.date, "#week5day7")' id="week5day7"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week5.day7.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week5.day7.dayNumber == 0" class="day">
    </td>
</tr> -->
<!-- week5 end -->
<!-- Week week6 -->
<!-- <tr *ngIf="week6 != null">
    <td *ngIf="week6.day1.dayNumber != 0" class="day">
        <span class="number">{{week6.day1.dayNumber}}</span>
        <div *ngIf="week6.day1.timeSlots.length < 3">
            <ul *ngFor="let slot of week6.day1.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week6.day1.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week6.day1.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week6.day1.date, "#week6day1")' id="week6day1"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week6.day1.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week6.day1.dayNumber == 0" class="day">
    </td>
    <td *ngIf="week6.day2.dayNumber != 0" class="day">
        <span class="number">{{week6.day2.dayNumber}}</span>
        <div *ngIf="week6.day2.timeSlots.length < 3">
            <ul *ngFor="let slot of week6.day2.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week6.day2.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week6.day2.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week6.day2.date, "#week6day2")' id="week6day2"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week6.day2.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week6.day2.dayNumber == 0" class="day">
    </td>
    <td *ngIf="week6.day3.dayNumber != 0" class="day">
        <span class="number">{{week6.day3.dayNumber}}</span>
        <div *ngIf="week6.day3.timeSlots.length < 3">
            <ul *ngFor="let slot of week6.day3.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week6.day3.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week6.day3.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week6.day3.date, "#week6day3")' id="week6day3"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week6.day3.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week6.day3.dayNumber == 0" class="day">
    </td>
    <td *ngIf="week6.day4.dayNumber != 0" class="day">
        <span class="number">{{week6.day4.dayNumber}}</span>
        <div *ngIf="week6.day4.timeSlots.length < 3">
            <ul *ngFor="let slot of week6.day4.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week6.day4.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week6.day4.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week6.day4.date, "#week6day4")' id="week6day4"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week6.day4.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week6.day4.dayNumber == 0" class="day">
    </td>
    <td *ngIf="week6.day5.dayNumber != 0" class="day">
        <span class="number">{{week6.day5.dayNumber}}</span>
        <div *ngIf="week6.day5.timeSlots.length < 3">
            <ul *ngFor="let slot of week6.day5.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week6.day5.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week6.day5.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week6.day5.date, "#week6day5")' id="week6day5"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week6.day5.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week6.day5.dayNumber == 0" class="day">
    </td>
    <td *ngIf="week6.day6.dayNumber != 0" class="day">
        <span class="number">{{week6.day6.dayNumber}}</span>
        <div *ngIf="week6.day6.timeSlots.length < 3">
            <ul *ngFor="let slot of week6.day6.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week6.day6.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week6.day6.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week6.day6.date, "#week6day6")' id="week6day6"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week6.day6.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week6.day6.dayNumber == 0" class="day">
    </td>
    <td *ngIf="week6.day7.dayNumber != 0" class="day">
        <span class="number">{{week6.day7.dayNumber}}</span>
        <div *ngIf="week6.day7.timeSlots.length < 3">
            <ul *ngFor="let slot of week6.day7.timeSlots">
                <span *ngIf="slot != 'closed'">
                    <button class="btn btn-common"
                        (click)="appointementSelection(week6.day7.date, slot)">{{slot}}</button>
                </span>
                <span *ngIf="slot == 'closed'">
                    {{slot}}
                </span>
            </ul>
        </div>
        <div *ngIf="week6.day7.timeSlots.length > 3">
            <select (click)='appointementSelectionButton(week6.day7.date, "#week6day7")' id="week6day7"
                class="form-control form-control-sm" name="location" required="">
                <option *ngFor="let item of week6.day7.timeSlots">
                <option [value]="item">{{item}}</option>
                </option>
            </select>
        </div>

    </td>
    <td *ngIf="week6.day7.dayNumber == 0" class="day">
    </td>
</tr> -->
<!-- week6 end -->
</table>