
    .theme-flat-0 {
      --layer1: #78909c;
      --layer2: #4a6068;
      --layer3: #ffdaaa;
      --layer4: #ffc477;
      --layer5: #fff;
      --layer6: #000;}
    
    .theme-flat-1 {
      --layer1: #ffdaaa;
      --layer2: #ffc477;
      --layer3: #006df0;
      --layer4: #005ece;
      --layer5: #fff;
      --layer6: #000;}
    
    .theme-flat-2 {
      --layer1: #a3d34f;
      --layer2: #92b545;
      --layer3: #ffdaaa;
      --layer4: #ffc477;
      --layer5: #fff;
      --layer6: #000;}
    
    .theme-flat-3 {
      --layer1: #5fccc7;
      --layer2: #4da39b;
      --layer3: #ffdaaa;
      --layer4: #ffc477;
      --layer5: #fff;
      --layer6: #000;}
    
    .theme-flat-4 {
      --layer1: #a88e65;
      --layer2: #846f51;
      --layer3: #ffdaaa;
      --layer4: #fff;
      --layer5: #ffc477;
      --layer6: #000;}
    
    .theme-flat-5 {
      --layer1: #ffc853;
      --layer2: #dba34b;
      --layer3: #ffdaaa;
      --layer4: #fff;
      --layer5: #ffc477;
      --layer6: #000;}
    
    .theme-flat-6 {
      --layer1: #ffdaaa;
      --layer2: #78909c;
      --layer3: #ffc477;
      --layer4: #a88e65;
      --layer5: #846f51;
      --layer6: #000;}
    
    .theme-flat-7 {
      --layer1: #ffdaaa;
      --layer2: #846f51;
      --layer3: #ffc477;
      --layer4: #78909c;
      --layer5: #a88e65;
      --layer6: #000;}
    
    .theme-flat-8 {
      --layer1: #ffdaaa;
      --layer2: #000;
      --layer3: #ffc477;
      --layer4: #006df0;
      --layer5: #fff;
      --layer6: #005ece;}
    
    .theme-flat-9 {
      --layer1: #ed593b;
      --layer2: #cc4c37;
      --layer3: #ffdaaa;
      --layer4: #000;
      --layer5: #ffc477;}
    
    .theme-flat-10 {
      --layer1: #ffdaaa;
      --layer2: #ffc477;
      --layer3: #a3d34f;
      --layer4: #fff;
      --layer5: #92b545;
      --layer6: #000;}
    
    .theme-flat-11 {
      --layer1: #fff;
      --layer2: #a88e65;
      --layer3: #ed593b;
      --layer4: #5fccc7;
      --layer5: #006df0;
      --layer6: #e0e0e0;
      --layer7: #4da39b;
      --layer8: #000;}
    
    .theme-flat-12 {
      --layer1: #fff;
      --layer2: #e0e0e0;
      --layer3: #fdd8a8;
      --layer4: #ffc477;
      --layer5: #000;}
    
    .theme-flat-13 {
      --layer1: #e0e0e0;
      --layer2: #a3d34f;
      --layer3: #bdbdbd;
      --layer4: #ea80fc;
      --layer5: #000;}
    
    .theme-flat-14 {
      --layer1: #e0e0e0;
      --layer2: #fff;
      --layer3: #78909c;
      --layer4: #ffc853;
      --layer5: #bdbdbd;
      --layer6: #000;}
    
    .theme-flat-15 {
      --layer1: #ea80fc;
      --layer2: #4da39b;
      --layer3: #5fccc7;
      --layer4: #b667c9;
      --layer5: #fff;
      --layer6: #000;}
    
    .theme-flat-16 {
      --layer1: #78909c;
      --layer2: #898890;
      --layer3: #ea80fc;
      --layer4: #b667c9;
      --layer5: #4a6068;
      --layer6: #fff;
      --layer7: #000;}
    
    .theme-flat-17 {
      --layer1: #ed593b;
      --layer2: #cc4c37;
      --layer3: #a3d34f;
      --layer4: #fff;
      --layer5: #e0e0e0;
      --layer6: #92b545;
      --layer7: #000;}
    
    .theme-flat-18 {
      --layer1: #ffc853;
      --layer2: #e0e0e0;
      --layer3: #fff;
      --layer4: #006df0;
      --layer5: #ed593b;
      --layer6: #000;}
    
    .theme-flat-19 {
      --layer1: #006df0;
      --layer2: #898890;
      --layer3: #005ece;
      --layer4: #57565c;
      --layer5: #fff;
      --layer6: #000;}
    
    .theme-flat-20 {
      --layer1: #a3d34f;
      --layer2: #92b545;
      --layer3: #a88e65;
      --layer4: #846f51;
      --layer5: #fff;
      --layer6: #000;}
    
    .theme-flat-21 {
      --layer1: #5fccc7;
      --layer2: #e0e0e0;
      --layer3: #4da39b;
      --layer4: #bdbdbd;
      --layer5: #fff;
      --layer6: #000;}
    
    .theme-flat-22 {
      --layer1: #ffc853;
      --layer2: #898890;
      --layer3: #dba34b;
      --layer4: #fff;
      --layer5: #57565c;
      --layer6: #000;}
    
    .theme-flat-23 {
      --layer1: #898890;
      --layer2: #e0e0e0;
      --layer3: #fff;
      --layer4: #000;}
    
    .theme-flat-24 {
      --layer1: #bdbdbd;
      --layer2: #e0e0e0;
      --layer3: #898890;
      --layer4: #fff;
      --layer5: #ed593b;
      --layer6: #000;}
    
    .theme-flat-25 {
      --layer1: #a88e65;
      --layer2: #ffc853;
      --layer3: #846f51;
      --layer4: #dba34b;
      --layer5: #fff;
      --layer6: #000;}
    
    .theme-flat-26 {
      --layer1: #e0e0e0;
      --layer2: #ed593b;
      --layer3: #bdbdbd;
      --layer4: #cc4c37;
      --layer5: #000;}
    
    .theme-flat-27 {
      --layer1: #ea80fc;
      --layer2: #ffc853;
      --layer3: #b667c9;
      --layer4: #dba34b;
      --layer5: #fff;
      --layer6: #000;}
    
    .theme-flat-28 {
      --layer1: #a3d34f;
      --layer2: #92b545;
      --layer3: #fff;
      --layer4: #000;}
    
    .theme-flat-29 {
      --layer1: #e0e0e0;
      --layer2: #ffc853;
      --layer3: #006df0;
      --layer4: #005ece;
      --layer5: #bdbdbd;
      --layer6: #fff;
      --layer7: #000;}
    
    .theme-flat-30 {
      --layer1: #ea80fc;
      --layer2: #b667c9;
      --layer3: #000;}
    
    .theme-flat-31 {
      --layer1: #a3d34f;
      --layer2: #92b545;
      --layer3: #000;}
    
    .theme-flat-32 {
      --layer1: #57565c;
      --layer2: #e0e0e0;
      --layer3: #ed593b;
      --layer4: #000;
      --layer5: #898890;
      --layer6: #5fccc7;
      --layer7: #fff;
      --layer8: #4da39b;
      --layer9: #cc4c37;
      --layer10: #bdbdbd;}
    
    .theme-flat-33 {
      --layer1: #ffc853;
      --layer2: #000;
      --layer3: #dba34b;
      --layer4: #fff;}
    
    .theme-flat-34 {
      --layer1: #ed593b;
      --layer2: #e0e0e0;
      --layer3: #cc4c37;
      --layer4: #fff;
      --layer5: #000;}
    
    .theme-flat-35 {
      --layer1: #ffc853;
      --layer2: #5fccc7;
      --layer3: #dba34b;
      --layer4: #4da39b;
      --layer5: #fff;
      --layer6: #000;}
    
    .theme-flat-36 {
      --layer1: #e0e0e0;
      --layer2: #006df0;
      --layer3: #005ece;
      --layer4: #fff;
      --layer5: #bdbdbd;
      --layer6: #78909c;
      --layer7: #000;
      --layer8: #ffc853;}
    
    .theme-flat-37 {
      --layer1: #e0e0e0;
      --layer2: #006df0;
      --layer3: #5fccc7;
      --layer4: #78909c;
      --layer5: #bdbdbd;
      --layer6: #4da39b;
      --layer7: #4a6068;
      --layer8: #005ece;
      --layer9: #fff;
      --layer10: #000;}
    
    .theme-flat-38 {
      --layer1: #ea80fc;
      --layer2: #b667c9;
      --layer3: #5fccc7;
      --layer4: #78909c;
      --layer5: #000;}
    
    .theme-flat-39 {
      --layer1: #bdbdbd;
      --layer2: #a3d34f;
      --layer3: #92b545;
      --layer4: #ffc853;
      --layer5: #fff;
      --layer6: #e0e0e0;
      --layer7: #000;}
    
    .theme-flat-40 {
      --layer1: #5fccc7;
      --layer2: #fff;
      --layer3: #ed593b;
      --layer4: #e0e0e0;
      --layer5: #000;
      --layer6: #bdbdbd;
      --layer7: #cc4c37;
      --layer8: #4da39b;}
    
    .theme-flat-41 {
      --layer1: #a3d34f;
      --layer2: #92b545;
      --layer3: #ffc853;
      --layer4: #fff;
      --layer5: #000;}
    
    .theme-flat-42 {
      --layer1: #e0e0e0;
      --layer2: #bdbdbd;
      --layer3: #ea80fc;
      --layer4: #b667c9;
      --layer5: #898890;
      --layer6: #fff;
      --layer7: #000;}
    
    .theme-flat-43 {
      --layer1: #5fccc7;
      --layer2: #78909c;
      --layer3: #ffc853;
      --layer4: #4da39b;
      --layer5: #dba34b;
      --layer6: #fff;
      --layer7: #4a6068;
      --layer8: #000;}
    
    .theme-flat-44 {
      --layer1: #cc4c37;
      --layer2: #e0e0e0;
      --layer3: #ed593b;
      --layer4: #bdbdbd;
      --layer5: #fff;
      --layer6: #000;}
    
    .theme-flat-45 {
      --layer1: #a88e65;
      --layer2: #e0e0e0;
      --layer3: #846f51;
      --layer4: #ffc853;
      --layer5: #dba34b;
      --layer6: #fff;
      --layer7: #000;}
    
    .theme-flat-46 {
      --layer1: #ffdaaa;
      --layer2: #a88e65;
      --layer3: #ffc477;
      --layer4: #ffc853;
      --layer5: #dba34b;
      --layer6: #ea80fc;
      --layer7: #b667c9;
      --layer8: #846f51;
      --layer9: #000;}
    
    .theme-flat-47 {
      --layer1: #ffdaaa;
      --layer2: #ffc477;
      --layer3: #ffc853;
      --layer4: #fff;
      --layer5: #dba34b;
      --layer6: #000;}
    
    .theme-flat-48 {
      --layer1: #006df0;
      --layer2: #ffdaaa;
      --layer3: #ffc477;
      --layer4: #fff;
      --layer5: #005ece;
      --layer6: #000;}
    
    .theme-flat-49 {
      --layer1: #ed593b;
      --layer2: #cc4c37;
      --layer3: #ffdaaa;
      --layer4: #fff;
      --layer5: #ffc477;
      --layer6: #000;}
    