<div  class="offer-form">
    <h3 #title class="text-center text-white">
        Lets 
    </h3>
    <div class="fp">
        <p #msg class="text-justify text-white text-center">
            
        </p>
    </div>
    <h3 #name></h3>
    <h3 #email></h3>
    <div class="row">
        <div class="col-12">
            <div #addons hidden>
                <div class="form-group">
                    <p>
                        <strong>Addons </strong>
                        <span class="text-danger">*</span>
                    </p>
                    <select #servicetype class="form-control form-control-sm text-white" name="location" required="">
                        <optgroup class="no-padding no-margin" label="Addon">
                            <option>Select Addon</option>
                        </optgroup>

                        <optgroup *ngFor="let item of addonColor" class="no-padding no-margin" label="Color Addons">
                            <option [value]="item.name">{{item.name}}</option>
                        </optgroup>
                        <optgroup *ngFor="let item of addon" class="no-padding no-margin" label="Addon">
                            <option [value]="item.name">{{item.name}}</option>
                        </optgroup>
                    </select>
                </div>
            </div>
            <div  #appointment  hidden>
                <div class="form-group">
                    <div class="text-white text-center">
                        <h4>Select Appointment</h4>
                        <p>These are the available times</p>
                    </div>
                    <br>
                    <div class="col-12 align-items-center no-padding">
                        <calendar
                        [cart-items]="cartList"
                        >
                        </calendar>
                        <br>
                    </div>
                </div>
            </div>

            <div #availability  hidden>
                <div class="form-group">
                    <h4 class="text-white text-center">Appointment Time</h4>
                    <!--//todo show selectd appointment and cart to confirm seletions -->
                    <p class="text-center">
                        {{appointmentDate}} <br>
                        {{appointmentTime}}
                    </p>
                    <div *ngFor="let item of addonColor" class="" ></div>
                    <div hidden class="form-row">
                        <div class="col">
                            <p>Date</p>
                            <input #selectdate class="form-control" type="date" name="">
                        </div>
                        <br>
                        <div class="col">
                            <p>Time</p>
                            <input #selecttime class="form-control" type="time" name="">
                        </div>
                        <div class="col">
                            <p>Time Zone</p>
                            <select #selectzone class="form-control form-control-sm text-white" name="location" required="">
                                <option *ngFor="let item of timeZones" class="no-padding no-margin">
                                    <option [value]="item.offset.toString()">{{item.text}}</option>
                                </option>
                            </select>
                        </div>
                         <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div #cartdisplay hidden class="shopping-cart col-12 no-padding">
                <div class="px-4 px-lg-0">
                    <div class="pb-5">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="border-0 bg-light">
                                                        <div class="p-2 px-3 text-uppercase">Product</div>
                                                    </th>
                                                    <th scope="col" class="border-0 bg-light">
                                                        <div class="py-2 text-uppercase">Price</div>
                                                    </th>
                                                    <th scope="col" class="border-0 bg-light">
                                                        <div class="py-2 text-uppercase">Remove</div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody *ngFor="let item of cart">
                                                <tr class="card">
                                                <a (click)="delCartItem(item)" >
                                                    <th scope="row" class="card-body">
                                                        <div class="p-2"><img
                                                                [src]="item.images.location"
                                                                alt width="40" class="img-fluid rounded shadow-sm" />
                                                            <div class="ml-3 d-inline-block align-middle">
                                                                <h5 class="mb-0">
                                                                    <a href="#" class="text-dark d-inline-block align-middle">
                                                                    {{item.name}}
                                                                    </a></h5><span
                                                                    class="text-muted font-weight-normal font-italic d-block">Category:
                                                                    {{item.category}}</span>
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <td class="border-0 align-middle"><strong>${{item.price}}.00</strong></td>
                                                    <td class="border-0 align-middle">
                                                            <svg width="20" class="theme-line-9">
                                                                <use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#bin-1"></use>
                                                            </svg>
                                                        </td>
                                                    </a>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div #payment hidden class="row py-5 p-4 bg-white rounded shadow-sm">
                <div class="col">
                    <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Order summary
                    </div>
                    <div class="p-4">
                        <p class="font-italic mb-4"></p>
                        <ul class="list-unstyled mb-4">
                            <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Order
                                    Subtotal
                                </strong><strong>${{total()}}.00</strong></li>
                            <li class="d-flex justify-content-between py-3 border-bottom"><strong
                                    class="text-muted">Tax</strong><strong>${{tax()}}</strong></li>
                            <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Deposit Due
                                    Now</strong>
                                <strong class="font-weight-bold text-black-50">(${{deposit}}.00)</strong>
                            </li>
                            <li class="d-flex justify-content-between py-3 border-bottom"><strong
                                    class="text-muted">Total</strong>
                                <strong class="font-weight-bold">${{total()}}.00</strong>
                            </li>
                            <li class="d-flex justify-content-between py-3 border-bottom"><strong
                                    class="text-muted">Total Due On Arivial</strong>
                                <strong class="font-weight-bold">${{total() - deposit}}.00</strong>
                            </li>
                        </ul>
                        <a  (click)="bookTime()" class="btn btn-dark rounded-pill py-2 btn-block text-white">Pay Deposit ${{deposit}}.00</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div >
    </div>
    <div class="form-group mx-auto mx-sm-auto mx-md-auto mx-lg-auto mx-xl-auto">
        <br><br>
        <div #submitnav class="row">
            <div class="col">
                <div #prev class="text-center">
                    <button #prebtn (click)="prePart()" class="btn gcx-btn-primary">Back</button>
                </div>
            </div>
            <div class="col">
                <div #next class="text-center">
                    <button #nxtbtn (click)="nxtPart()" class="btn gcx-btn-secondary">Next</button>
                </div>
            </div>
        </div>
    </div>
</div>